.popup__handlers{
    border: 0;
    width: 358px;
    margin: auto;
    margin-top:37px;
    padding: 0;

}

@media screen and (max-width: 540px){
    .popup__handlers{
        width: 238px;
        margin-top:45px;
    }
}