.popup-add{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.5);
}

.popup-add__container{
    position:fixed;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.element__trash{
    outline: none;
    position: absolute;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/trash.svg);
    border: 0px;
    background-color: rgba(0, 125, 215, 0);
    top:18px;
    right: 18px;
}
.element__trash:hover{
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 540px){
    .popup-add__container{
        width: 282px;
    }
}
