.popup__button{
    height: 50px;
    background-color: black;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    width: 358px;
    margin: auto;
    margin-top:48px;
    margin-bottom: 37px; 
}
.popup__button:hover{
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 540px){
    .popup__button{
        height: 48px;
        width: 238px;
        margin-top:45px;
    }
}
@media screen and (max-width:320px){
    .popup__button{
        height: 46px;
        margin-bottom:25px;
    }
}
