.header{
    max-width:1280px;
    margin: auto;
    width: 68.75%;
    padding-bottom:41px;
    opacity: 0.7;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 320px){
    .header{
      width: 100%;
      padding-bottom: 38.25px;
    }
}