.image__text{
    margin-top:10px;
    align-self: start;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

@media screen and (max-width: 920px){
    .image__text{
        max-width: 433px;
    }
}

@media screen and (max-width: 540px){    
    .image__text{
        max-width: 240px;
        height: 299px;
    }
}