.pfrofile__edit{
    position: relative;
    width: 120px;
    height: 120px;
    background-image:url(/src/images/Vector_edit_cursor.png);
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}
