.image__close{
    width: 40px;
    align-self: flex-end;
    padding-left: 5%;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.image__close:hover{
    opacity: 0.6;
    cursor: pointer;
}
.image__close:active, .image__close:focus { outline: none; }


@media screen and (max-width: 920px){
    .image__close{
        max-width: 433px;
        padding-left: 10%;
    }
}

@media screen and (max-width: 540px){    

    .image__close{
        padding-left: 15%;
    }
}
