.footer{
    max-width: 880px;
    margin: auto;
    width: 68.75%;
    padding-bottom: 60px;
}

@media screen and (max-width: 320px){
    .footer{
        width: 88.13%;
        padding-bottom: 48px;
    }
}