.header{
    max-width:1280px;
    margin: auto;
    width: 68.75%;
    padding-bottom: 36.25px;
}

@media screen and (max-width: 320px){
    .header{
      width: 100%;
      padding-bottom: 38.25px;
    }
}