.image__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 816px;
    width: 75vw;
    height: 75vh;
}

@media screen and (max-width: 920px){
    .image__container{
        max-width: 433px;

    }
}
@media screen and (max-width: 540px){    
    .image__container{
        max-width: 240px;

    }
}