  .portfile__button_image{
    background-image: url(../../../../images/vector_button-mini.svg);
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;

}
@media screen and (max-width: 320px){
.portfile__button_image{
  width: 7.5px;
  height: 7.5px;
}
}